---
layout: page
---

{{ content }}

<ul id="archive">
  {% for quiz in site.quizzes %}
  <li class="archiveposturl" style="background: transparent">
    <div class="lecture-container">
      <div class="content">
        <span style="font-weight: bold;">{{ quiz.title }}</span><br>
        <strong>Quiz date:</strong> {{ quiz.format_date }}<br>
        <strong>
          {% include lecture_links.html lecture=quiz %}
        </strong>

        {% if quiz.content != '' %}
        <br />
        <div class="markdown-content" style="margin-top: 3px;">
          {{ quiz.content }}
        </div>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
